<div class="container">
  <div class="row">
    <div class="col-lg-6 left-side">
      <h1 class="">
        Everything <br> Goes Fashion
      </h1>
      <p class="text-black-50">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae suscipit commodi quia iste saepe consequuntur. 
      </p>
    
        <div class="center">
          <button class="btn" routerLink="/products">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>SHOP NOW</span>
          </button>
        </div>
    </div>
    <div class="col-lg-6 right-side">
      <img src="https://i.postimg.cc/hvLctXcj/cool-elegant-stylish-blonde-lady-with-red-lips-bright-sunglasses-silk-blouse-beige-trench-coat-looks.jpg" alt="">
    </div>
  </div>
</div>
