<nav class="d-flex align-items-center justify-content-between navbar navbar-expand-lg px-3">
  <a class="logo navbar-brand">
    <img src="https://i.postimg.cc/y8TPF0Gm/Pngtree-fashion-woman-skirt-hat-logo-53915161.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
  <ul class="d-flex align-items-center justify-content-between navbar-nav mr-auto w-100 px-5">
    <div class="left-side d-flex align-items-center">
    <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contactUs" routerLinkActive="active">Contact Us</a></li>
  </div>
  <div class="right-side me-3">
    
      <li  class="nav-item cart"><a  class="nav-link " routerLink="/cart" routerLinkActive="active">
        <div class="dot" *ngIf="app.localStorageItem('dot')=='true'"></div>
        <svg  fill="" height="40px" width="40px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 483.1 483.1" xml:space="preserve">
     <g>
       <path d="M434.55,418.7l-27.8-313.3c-0.5-6.2-5.7-10.9-12-10.9h-58.6c-0.1-52.1-42.5-94.5-94.6-94.5s-94.5,42.4-94.6,94.5h-58.6
         c-6.2,0-11.4,4.7-12,10.9l-27.8,313.3c0,0.4,0,0.7,0,1.1c0,34.9,32.1,63.3,71.5,63.3h243c39.4,0,71.5-28.4,71.5-63.3
         C434.55,419.4,434.55,419.1,434.55,418.7z M241.55,24c38.9,0,70.5,31.6,70.6,70.5h-141.2C171.05,55.6,202.65,24,241.55,24z
          M363.05,459h-243c-26,0-47.2-17.3-47.5-38.8l26.8-301.7h47.6v42.1c0,6.6,5.4,12,12,12s12-5.4,12-12v-42.1h141.2v42.1
         c0,6.6,5.4,12,12,12s12-5.4,12-12v-42.1h47.6l26.8,301.8C410.25,441.7,389.05,459,363.05,459z"/>
     </g>
     </svg>
      </a></li>
  
  </div>  </ul></div>
</nav>